$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$additional-color: #FA9500;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif;
$paragraph-size: 1.5em;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stackl;
    background-color: $primary-color;
}

.navbar {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 0 30px;
    p {
        margin: 0;
        font-size: 1.5em;
    }
    .icons {
        display: flex;
        gap: 12px;
        button {
            border: none;
            background: none;
            svg{
                width: 36px;
                height: 36px;
                path{
                    stroke: $primary-text-color;
                }
                
            }
        }
    }
}

.main {
    color: $primary-text-color;
    padding: 0 64px;
    max-width: 100vw;
    article {
        display: grid;
        grid-template-columns: 50% auto;
        align-items: center;
        justify-content: space-between;
        width: auto;
        min-height: 88vh;
        h1 {
            font-size: 3em;
            margin-top: 0;
            font-weight: 700;
            line-height: 78px;
        }
        p {
            font-size: $paragraph-size;
            font-weight: 400;
            line-height: 32.5px;
        }
        button{
            background: none;
            border-style: none;
            font-weight: 700;
            font-size: 24px;
            padding: 20px 40px;
            border-radius: 35px;
            color: $primary-color;
            background-color: $additional-color;
        }
        img{
            justify-self: end;
            width: 25vw; //waos no rompe los estilos ni el border radius xd
            object-fit: contain;
            border-radius: 20px;
        }
    }
}

.footer {
    background-color: $additional-color;
    width: 100%;
    height: 250px;
}